.page-layout {
	display: flex;
	flex-direction: column;
	width: 1268px;
	margin: auto;
	gap: 20px;
}

.page-content {
	display: flex;
	flex-direction: column;
	gap: 15px;
	width: 800px;
	margin: auto;
}
