.pricing__content {
	display: flex;
	justify-content: space-evenly;
	gap: 4rem;
	margin-top: 3rem;
}

.pricing__content-box {
	border: solid 2px rgb(192, 192, 192, 0.3);
	border-radius: 4px;
	width: 365px;
	position: relative;
}

.pricing__content-box-activate {
	border: solid 2px var(--primary-color-green);
}

.pricing__content-box-tag {
	position: absolute;
	width: 130px;
	transform: rotate(45deg);
}

.pricing__content-box-promotion-tag {
	left: 214px;
	top: 41px;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-bottom: 30px solid var(--primary-color-green);
}

.pricing__content-box-promotion-tag-description {
	left: 250px;
	top: 41px;
	text-transform: uppercase;
	color: white;
	letter-spacing: 1px;
	font-weight: bold;
	font-size: 13px;
}

.pricing__content-inner-box {
	padding: 2rem;
}

.pricing__content-data {
	margin-top: 2rem;
}

.pricing__content-value {
	font-size: 2em;
	font-weight: bold;
}

.pricing__content-value sup {
	font-size: x-large;
	margin-right: 0.5rem;
}

.pricing__content-time {
	text-transform: uppercase;
}

.pricing__content-separator {
	margin: 1rem 0;
	border: 1px solid var(--primary-color-green);
}

.pricing__content-items {
	list-style: none;
	display: contents;
	font-size: 14px;
	font-weight: 400;
}

.pricing__content-item {
	margin-top: 1rem;
	margin-left: 4px;
}

.pricing__content-item::before {
	content: '';
	display: inline-block;
	height: 8px;
	padding: 2px;
	border-bottom: 2px solid var(--primary-color-green);
	border-right: 1px solid var(--primary-color-green);
	transform: rotate(45deg);
	margin-right: 10px;
}
