.pricing__content {
	display: flex;
	justify-content: space-evenly;
	gap: 4rem;
	margin-top: 3rem;
}

.pricing__content-box {
	border: solid 1px;
	border-radius: 5px;
	width: 366px;
}

.pricing__content-inner-box {
	padding: 2rem;
}

.pricing__content-data {
	margin-top: 2rem;
}

.pricing__content-value {
	font-size: 2em;
	font-weight: bold;
}

.pricing__content-value sup {
	font-size: x-large;
	margin-right: 0.5rem;
}

.pricing__content-time {
	text-transform: uppercase;
}

.pricing__content-separator {
	margin: 2rem 0;
	border: 1px solid var(--custom-color-green);
}
