@import url(addons/addons.css);
@import url(faq/faq.css);
@import url(page-header/page-header.css);
@import url(plans-pricing/plans-pricing.css);
@import url(sitemap/sitemap.css);
@import url(trial/trial.css);
@import url(../variables/variables.css);
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
	font-family: 'Lato', sans-serif;
	background-color: var(--color-white-primary);
	font-size: 1rem;
}
