@import 'addons/addons.css';
@import 'faq/faq.css';
@import 'page-header/page-header.css';
@import 'plans-pricing/plans-pricing.css';
@import 'sitemap/sitemap.css';
@import 'trial/trial.css';
@import 'footer/footer.css';
@import '../variables/variables.css';
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
  font-family: 'Lato', sans-serif;
  background-color: var(--color-white-primary);
  font-size: 1rem;
}

* {
  -webkit-tap-highlight-color: transparent;
}
