.page-header__container {
	flex-direction: column;
	gap: 1em;
}

.page-header__navigation-menu {
	display: none;
}

.page-header__logo {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 1rem;
}
