.small-screen-page-header__hamburger-menu {
	display: flex;
	flex-direction: column;
	gap: var(--small-screen-hamburger-menu-gap);
	cursor: pointer;
	border: none;
	background: none;
}

.small-screen-page-header__hamburger-menu div {
	width: var(--small-screen-hamburger-menu-bar-width);
	height: var(--small-screen-hamburger-menu-bar-height);
	border-radius: 25px;
	background-color: var(--color-gray-primary);
}
