@import url(small-screen-page-header-buttons.css);
@import url(small-screen-page-header-hamburger-menu.css);
@import url(small-screen-page-header-navigation-menu.css);
@import url(variables-page-header-hamburger-menu.css);

.page-header {
	justify-content: center;
	flex-direction: column;
}

.small-screen-page-header__menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 90%;
}
