.page-header__container {
	flex-direction: column;
	gap: 1em;
}

.page-header__navigation-menu {
	display: none;
}

.page-header__logo-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 90%;
	margin: 1rem;
	gap: 3em;
}

.page-header__logo {
	margin-top: 0.2rem;
}

.page-header__logo img {
	width: 150%;
}
