:root {
	--small-screen-hamburger-menu-gap: 0.5em;
	--small-screen-hamburger-menu-bar-width: 2em;
	--small-screen-hamburger-menu-bar-height: 5px;
	--small-screen-hamburger-menu-animation-timing: 200ms ease-in-out;
}
