.footer {
	padding: 0.5em;
	background-color: var(--color-green-primary);
}

.footer > p {
	text-align: center;
}

.footer__real-name {
	display: none;
}

.footer__github-link {
	display: block;
	width: 1.5em;
	height: 1.5em;
}

.footer__github-logo {
	width: 100%;
	height: 100%;
}

.footer__authorship {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1em;
}

a {
	font-size: large;
}

a:link,
a:visited,
a:hover,
a:active {
	text-decoration: none;
	color: var(--color-gray-primary);
}
