.footer {
  background-color: var(--color-green-primary);
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  width: fit-content;
  margin: auto;
  text-align: center;
  gap: 8px;
}

.footer-container__authorship {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 4px;

  & > a {
    text-decoration: none;
    color: black;
  }
}
