.faq {
	width: 80%;
	margin: 0 auto;
}

.faq__title {
	text-align: center;
	color: var(--custom-color-green);
	font-weight: lighter;
	font-size: 24px;
}

.faq__content-list {
	list-style: none;
	font-size: large;
}

.faq__list-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.faq__list-item-toggle {
	width: 5px;
	height: 5px;
	padding: 1px;
	border-right: 1px solid gray;
	border-bottom: 1px solid gray;
	transform: rotate(45deg);
}
