:root {
	--primary-color-yellow: #f8db62;
	--primary-color-green: #00b289;
	--primary-color-gray: #4c4d5f;
	--primary-color-white: #ffff;
	--background-color-green: rgb(175, 225, 175, 0.2);
	--separator-color-gray: #f3f1ee;
}
