.plans-pricing__header-toggle {
	display: flex;
	gap: 1rem;
	text-transform: uppercase;
	align-items: center;
}

.plans-pricing__header-toggle-switch {
	width: 45px;
	height: 25px;
	background-color: var(--primary-color-green);
	border-radius: 12px;
	cursor: pointer;
}

.plans-pricing__header-toggle-switch-indicator {
	background-color: var(--primary-color-white);
	border-radius: 100%;
	width: 21px;
	height: 21px;
	margin-top: 2px;
	margin-left: 2px;
	transition: transform 0.2s 0.1s ease-out;
}

.plans-pricing__header-toggle-switch-activation {
	transform: translateX(20px);
}
