@import url(variables/variables.css);
@import url(layout/page-layout.css);
@import url(components/components.css);
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
	font-family: 'Lato', sans-serif;
	background-color: var(--color-white-primary);
	font-size: 1rem;
}
