.banner__buttons {
	padding: 1rem;
}

.banner__buttons-list {
	list-style: none;
	display: flex;
	gap: 1rem;
}

.banner__button {
	border: solid 2px;
	padding: 10px 25px;
	border-radius: 5px;
	cursor: pointer;
}

.banner__button-login {
	color: var(--primary-color-green);
}

.banner__button-trial {
	color: white;
	background-color: var(--primary-color-green);
}

.banner__button-label {
	text-transform: uppercase;
	font-size: smaller;
	font-weight: bold;
	letter-spacing: 1px;
}
