@import url(variables/colors.css);
@import url(layout/page-layout.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

body {
	font-family: 'Noto Serif', serif;
	background-color: var(--custom-white-color);
	font-size: 16px;
}
