.faq {
	width: 85%;
	margin: auto;
}

.faq__header {
	text-align: center;
	color: var(--primary-color-green);
	font-size: 1.5em;
}

.faq__content-items {
	list-style: none;
	font-size: large;
	padding: 0;
}

.faq__list-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
}

.faq__list-item-toggler {
	width: 5px;
	height: 5px;
	padding: 5px;
	border-right: solid 1px gray;
	border-bottom: solid 1px gray;
	transform: rotate(45deg);
}

.faq__list-item-toggler-animation-up {
	transform: rotate(225deg);
	transition: transform 0.2s ease-in 0s;
}

.faq__list-item-toggler-animation-down {
	transform: rotate(45deg);
	transition: transform 0.2s ease-in 0s;
}

.faq__list-item-description {
	font-size: large;
	font-style: italic;
	color: var(--primary-color-green);
	margin-left: 10px;
	padding: 5px;
}

.faq__list-item-description-toggler {
	height: 0;
	overflow: hidden;
}

.faq__list-item-separator {
	border-bottom: solid 1px gray;
}
