.page-header__buttons-list {
	list-style: none;
	display: flex;
	gap: 1rem;
}

.page-header__button {
	border: solid 2px;
	padding: 10px 25px;
	border-radius: 5px;
	cursor: pointer;
}

.page-header__button-login {
	color: var(--primary-color-green);
}

.page-header__button-trial {
	color: white;
	background-color: var(--primary-color-green);
}

.page-header__button-label {
	text-transform: uppercase;
	font-size: smaller;
	font-weight: bold;
	letter-spacing: 1px;
}
