@import url(page-header-navigation-menu.css);
@import url(page-header-buttons.css);
@import url(mobile-page-header-navigation-menu.css);
@import url(mobile-page-header-hamburger-menu.css);
@import url(mobile-page-header-buttons.css);

.page-header {
	max-width: 1200px;
	margin: auto;
}

.page-header__container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;
}

.page-header__mobile-menu {
	display: none;
}
