.banner {
	width: 100%;
	max-width: 1268px;
	margin: 0 auto;
}

.banner__container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.banner_logo {
	padding: 1rem;
}

.banner__items {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	width: 900px;
	justify-content: space-between;
	align-items: center;
}

.banner__menu {
	padding: 1rem;
}

.banner__menu-links {
	list-style: none;
	display: flex;
	gap: 2rem;
}

.banner__buttons {
	padding: 1rem;
}

.banner__buttons-list {
	list-style: none;
	display: flex;
	gap: 1rem;
}

.banner__buttton {
	border: solid 2px;
	padding: 10px 25px;
	border-radius: 5px;
}

.banner__buttton-login {
	color: var(--custom-color-green);
}

.banner__buttton-trial {
	background-color: var(--custom-color-green);
	color: white;
}

.banner__button-label {
	text-transform: uppercase;
	font-size: smaller;
	font-weight: bold;
	letter-spacing: 1px;
}
