:root {
	--custom-white-color: #fdfbf9;
	--custom-purple-color: #4b2aad;
	--custom-orange-color: #a86501;
	--custom-orange-color-rgb: rgb(168, 101, 1, 0.1);
	--custom-blue-color: #027ca1;
	--custom-black-color: #1a1715;
	--white-color: #ffffff;
}
